.hit
	.hit__head
		.title-green.hit__title More like this
		a.button-stroke.button-small.hit__button(href="products-dashboard.html")
			span View all
			+i('arrow-right')
	.hit__wrapper
		.hit__slider.js-slider-hit
			+summary(false, 'img/content/product-pic-1@2x.jpg', 'img/content/product-pic-1.jpg', true, '64', false, true, '4.8', '87', 'Bento Matte 3D Illustration')
			+summary(false, 'img/content/product-pic-2@2x.jpg', 'img/content/product-pic-2.jpg', true, '123', false, true, '4.9', '87', 'Node - Crypto iOS UI design kit')
			+summary(false, 'img/content/product-pic-3@2x.jpg', 'img/content/product-pic-3.jpg', false, '0', false, false, false, false, 'TaskEz: Productivity App iOS UI Kit')
			+summary(false, 'img/content/product-pic-1@2x.jpg', 'img/content/product-pic-1.jpg', true, '64', false, true, '4.8', '87', 'Bento Matte 3D Illustration')
			+summary(false, 'img/content/product-pic-2@2x.jpg', 'img/content/product-pic-2.jpg', true, '123', false, true, '4.9', '87', 'Node - Crypto iOS UI design kit')
			+summary(false, 'img/content/product-pic-3@2x.jpg', 'img/content/product-pic-3.jpg', false, '0', false, false, false, false, 'TaskEz: Productivity App iOS UI Kit')