---
title: "Core - Dashboard Builder"
pageTitle: "Explore creators"
headerLinkExploreCreators: active
---
extends layouts/layout
block content
	.creators
		.creators__head
			.creators__nav
				a.creators__link.active(href="#") Popular
				a.creators__link(href="#") Trending
			select.select.select_small
				option Best sellers
				option New sellers
		.creators__info Viewing 5 of 5,000+ creators in the market
		.creators__list
			.creators__item
				.creators__top
					.creators__user
						.creators__avatar
							img(src="img/content/avatar-1.jpg" alt="Avatar")
						.creators__details
							.creators__line
								.creators__man Reed Parker
								.creators__number(style="background-color: #B5E4CA;") #1
							.creators__parameters
								.creators__parameter <span>16</span> products
								.creators__parameter <span>3,568</span> followers
					.creators__btns
						button.button-stroke.creators__button Follow<span>ing</span>
						button.button.creators__button Shop now
				.creators__products
					a.creators__product(data-popup='.js-popup-product')
						img(srcSet="img/content/product-pic-1@2x.jpg 2x" src="img/content/product-pic-1.jpg" alt="Product")
					a.creators__product(data-popup='.js-popup-product')
						img(srcSet="img/content/product-pic-2@2x.jpg 2x" src="img/content/product-pic-2.jpg" alt="Product")
					a.creators__product(data-popup='.js-popup-product')
						img(srcSet="img/content/product-pic-3@2x.jpg 2x" src="img/content/product-pic-3.jpg" alt="Product")
					a.creators__product(data-popup='.js-popup-product')
						img(srcSet="img/content/product-pic-4@2x.jpg 2x" src="img/content/product-pic-4.jpg" alt="Product")
					a.creators__product(data-popup='.js-popup-product')
						img(srcSet="img/content/product-pic-5@2x.jpg 2x" src="img/content/product-pic-5.jpg" alt="Product")
					a.creators__product(data-popup='.js-popup-product')
						img(srcSet="img/content/product-pic-1@2x.jpg 2x" src="img/content/product-pic-1.jpg" alt="Product")
					a.creators__product(data-popup='.js-popup-product')
						img(srcSet="img/content/product-pic-2@2x.jpg 2x" src="img/content/product-pic-2.jpg" alt="Product")
					a.creators__product(data-popup='.js-popup-product')
						img(srcSet="img/content/product-pic-3@2x.jpg 2x" src="img/content/product-pic-3.jpg" alt="Product")
			.creators__item
				.creators__top
					.creators__user
						.creators__avatar
							img(src="img/content/avatar-2.jpg" alt="Avatar")
						.creators__details
							.creators__line
								.creators__man Tristian Hermiston
								.creators__number(style="background-color: #FFD88D;") #2
							.creators__parameters
								.creators__parameter <span>34</span> products
								.creators__parameter <span>2,345</span> followers
					.creators__btns
						button.button-stroke.creators__button Follow<span>ing</span>
						button.button.creators__button Shop now
				.creators__products
					a.creators__product(data-popup='.js-popup-product')
						img(srcSet="img/content/product-pic-5@2x.jpg 2x" src="img/content/product-pic-5.jpg" alt="Product")
					a.creators__product(data-popup='.js-popup-product')
						img(srcSet="img/content/product-pic-4@2x.jpg 2x" src="img/content/product-pic-4.jpg" alt="Product")
					a.creators__product(data-popup='.js-popup-product')
						img(srcSet="img/content/product-pic-3@2x.jpg 2x" src="img/content/product-pic-3.jpg" alt="Product")
					a.creators__product(data-popup='.js-popup-product')
						img(srcSet="img/content/product-pic-2@2x.jpg 2x" src="img/content/product-pic-2.jpg" alt="Product")
					a.creators__product(data-popup='.js-popup-product')
						img(srcSet="img/content/product-pic-1@2x.jpg 2x" src="img/content/product-pic-1.jpg" alt="Product")
					a.creators__product(data-popup='.js-popup-product')
						img(srcSet="img/content/product-pic-5@2x.jpg 2x" src="img/content/product-pic-5.jpg" alt="Product")
					a.creators__product(data-popup='.js-popup-product')
						img(srcSet="img/content/product-pic-4@2x.jpg 2x" src="img/content/product-pic-4.jpg" alt="Product")
					a.creators__product(data-popup='.js-popup-product')
						img(srcSet="img/content/product-pic-3@2x.jpg 2x" src="img/content/product-pic-3.jpg" alt="Product")
			.creators__item
				.creators__top
					.creators__user
						.creators__avatar
							img(src="img/content/avatar-3.jpg" alt="Avatar")
						.creators__details
							.creators__line
								.creators__man Reed Parker
								.creators__number(style="background-color: #CABDFF;") #3
							.creators__parameters
								.creators__parameter <span>9</span> products
								.creators__parameter <span>13,242</span> followers
					.creators__btns
						button.button-stroke.creators__button Follow<span>ing</span>
						button.button.creators__button Shop now
				.creators__products
					a.creators__product(data-popup='.js-popup-product')
						img(srcSet="img/content/product-pic-3@2x.jpg 2x" src="img/content/product-pic-3.jpg" alt="Product")
					a.creators__product(data-popup='.js-popup-product')
						img(srcSet="img/content/product-pic-4@2x.jpg 2x" src="img/content/product-pic-4.jpg" alt="Product")
					a.creators__product(data-popup='.js-popup-product')
						img(srcSet="img/content/product-pic-1@2x.jpg 2x" src="img/content/product-pic-1.jpg" alt="Product")
					a.creators__product(data-popup='.js-popup-product')
						img(srcSet="img/content/product-pic-5@2x.jpg 2x" src="img/content/product-pic-5.jpg" alt="Product")
					a.creators__product(data-popup='.js-popup-product')
						img(srcSet="img/content/product-pic-2@2x.jpg 2x" src="img/content/product-pic-2.jpg" alt="Product")
					a.creators__product(data-popup='.js-popup-product')
						img(srcSet="img/content/product-pic-1@2x.jpg 2x" src="img/content/product-pic-1.jpg" alt="Product")
					a.creators__product(data-popup='.js-popup-product')
						img(srcSet="img/content/product-pic-4@2x.jpg 2x" src="img/content/product-pic-4.jpg" alt="Product")
					a.creators__product(data-popup='.js-popup-product')
						img(srcSet="img/content/product-pic-3@2x.jpg 2x" src="img/content/product-pic-3.jpg" alt="Product")
			.creators__item
				.creators__top
					.creators__user
						.creators__avatar
							img(src="img/content/avatar-4.jpg" alt="Avatar")
						.creators__details
							.creators__line
								.creators__man Nicola Gislason
							.creators__parameters
								.creators__parameter <span>22</span> products
								.creators__parameter <span>1,211</span> followers
					.creators__btns
						button.button-stroke.creators__button Follow<span>ing</span>
						button.button.creators__button Shop now
				.creators__products
					a.creators__product(data-popup='.js-popup-product')
						img(srcSet="img/content/product-pic-1@2x.jpg 2x" src="img/content/product-pic-1.jpg" alt="Product")
					a.creators__product(data-popup='.js-popup-product')
						img(srcSet="img/content/product-pic-2@2x.jpg 2x" src="img/content/product-pic-2.jpg" alt="Product")
					a.creators__product(data-popup='.js-popup-product')
						img(srcSet="img/content/product-pic-3@2x.jpg 2x" src="img/content/product-pic-3.jpg" alt="Product")
					a.creators__product(data-popup='.js-popup-product')
						img(srcSet="img/content/product-pic-4@2x.jpg 2x" src="img/content/product-pic-4.jpg" alt="Product")
					a.creators__product(data-popup='.js-popup-product')
						img(srcSet="img/content/product-pic-5@2x.jpg 2x" src="img/content/product-pic-5.jpg" alt="Product")
					a.creators__product(data-popup='.js-popup-product')
						img(srcSet="img/content/product-pic-1@2x.jpg 2x" src="img/content/product-pic-1.jpg" alt="Product")
					a.creators__product(data-popup='.js-popup-product')
						img(srcSet="img/content/product-pic-2@2x.jpg 2x" src="img/content/product-pic-2.jpg" alt="Product")
					a.creators__product(data-popup='.js-popup-product')
						img(srcSet="img/content/product-pic-3@2x.jpg 2x" src="img/content/product-pic-3.jpg" alt="Product")
			.creators__item
				.creators__top
					.creators__user
						.creators__avatar
							img(src="img/content/avatar-5.jpg" alt="Avatar")
						.creators__details
							.creators__line
								.creators__man Hester Grady
							.creators__parameters
								.creators__parameter <span>31</span> products
								.creators__parameter <span>9,832</span> followers
					.creators__btns
						button.button-stroke.creators__button Follow<span>ing</span>
						button.button.creators__button Shop now
				.creators__products
					a.creators__product(data-popup='.js-popup-product')
						img(srcSet="img/content/product-pic-1@2x.jpg 2x" src="img/content/product-pic-1.jpg" alt="Product")
					a.creators__product(data-popup='.js-popup-product')
						img(srcSet="img/content/product-pic-2@2x.jpg 2x" src="img/content/product-pic-2.jpg" alt="Product")
					a.creators__product(data-popup='.js-popup-product')
						img(srcSet="img/content/product-pic-3@2x.jpg 2x" src="img/content/product-pic-3.jpg" alt="Product")
					a.creators__product(data-popup='.js-popup-product')
						img(srcSet="img/content/product-pic-4@2x.jpg 2x" src="img/content/product-pic-4.jpg" alt="Product")
					a.creators__product(data-popup='.js-popup-product')
						img(srcSet="img/content/product-pic-5@2x.jpg 2x" src="img/content/product-pic-5.jpg" alt="Product")
					a.creators__product(data-popup='.js-popup-product')
						img(srcSet="img/content/product-pic-1@2x.jpg 2x" src="img/content/product-pic-1.jpg" alt="Product")
					a.creators__product(data-popup='.js-popup-product')
						img(srcSet="img/content/product-pic-2@2x.jpg 2x" src="img/content/product-pic-2.jpg" alt="Product")
					a.creators__product(data-popup='.js-popup-product')
						img(srcSet="img/content/product-pic-3@2x.jpg 2x" src="img/content/product-pic-3.jpg" alt="Product")
		.creators__foot
			button.button-stroke.button-small.creators__button
				+loader
				span Load more
