---
title: "Core - Dashboard Builder"
pageContainerHide: true
pageClass: page_simple
---
extends layouts/layout
block content
	ul(style="padding: 30px; font-size: 16px;")
		li(style="margin-bottom: 5px;")
			a(href="index.html") Home
		li(style="margin-bottom: 5px;")
			a(href="products-dashboard.html") Products dashboard
		li(style="margin-bottom: 5px;")
			a(href="products-add.html") Products new
		li(style="margin-bottom: 5px;")
			a(href="products-drafts.html") Drafts
		li(style="margin-bottom: 5px;")
			a(href="products-released.html") Released
		li(style="margin-bottom: 5px;")
			a(href="products-comments.html") Comments
		li(style="margin-bottom: 5px;")
			a(href="products-scheduled.html") Scheduled
		li(style="margin-bottom: 5px;")
			a(href="customers-overview.html") Customers
		li(style="margin-bottom: 5px;")
			a(href="customer-list.html") Customer list
		li(style="margin-bottom: 5px;")
			a(href="promote.html") Promote
		li(style="margin-bottom: 5px;")
			a(href="notification.html") Notification
		li(style="margin-bottom: 5px;")
			a(href="settings.html") Settings
		li(style="margin-bottom: 5px;")
			a(href="upgrade-to-pro.html") Upgrade to Pro
		li(style="margin-bottom: 5px;")
			a(href="message-center.html") Message center
		li(style="margin-bottom: 5px;")
			a(href="explore-creators.html") Explore creators
		li(style="margin-bottom: 5px;")
			a(href="affiliate-center.html") Affiliate center
		li(style="margin-bottom: 5px;")
			a(href="sign-up.html") Sign up
		li(style="margin-bottom: 5px;")
			a(href="sign-in.html") Sign in
		li(style="margin-bottom: 5px;")
			a(href="income-earning.html") Earning
		li(style="margin-bottom: 5px;")
			a(href="income-refunds.html") Refunds
		li(style="margin-bottom: 5px;")
			a(href="income-payouts.html") Payouts
		li(style="margin-bottom: 5px;")
			a(href="income-statements.html") Statements
		li(style="margin-bottom: 5px;")
			a(href="shop.html") Shop